{%  extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
    <!-- timer css -->
    <link href="{% static 'css/timer.css' %}" as="style" rel="stylesheet" onload="this.rel='stylesheet'">
    <link href="{% static 'css/notify.css' %}" as="style" rel="stylesheet" onload="this.rel='stylesheet'">

    <!-- needed for linking the static background image -->
    <style>
        body::before {
            background-image: url('{% static 'media/bg-index.webp' %}');
        }
    </style>
{% endblock %}

{% block js %}
    <!-- timer js -->
    <script src="{% static 'js/timer.js' %}"></script>
    <script src="{% static 'js/notify.js' %}"></script>
{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}
    <!-- Info Note -->
    <div class="alert text-center py-0 mx-2 disclaimer-note">
        <i class="fas fa-exclamation-triangle"></i> Please note: The actual status of the washing machines may vary from the information provided, as it is based on user inputs.
    </div>

    {% include 'includes/notify.html' %}

    <!-- hidden inputs for machine status -->
    <input type="hidden" id="csrfToken" value="{{ csrf_token }}">
    <input type="hidden" id="building-identifier" value="{{ building_identifier }}">

    <!-- machine card template -->
    <div class="container my-3">
        <div class="row">
            {% for machine in machines %}
                <div id="machine_{{ machine.identifier }}" class="col-md-2 machine-card">
                    <!-- symbols -->
                    <div class="top-right-corner">
                        <div class="warning-symbol moving-symbol" id="special-symbole-defect_{{ machine.identifier }}">
                            <i class="fas fa-exclamation-triangle"></i>
                        </div>
                        <div class="running-dot-container moving-symbol" id="special-symbole-running_{{ machine.identifier }}">
                            <div class="running-dot"></div>
                            <div class="secondary-dot"></div>
                        </div>
                        <div class="blinking-icon-container moving-symbol" id="special-symbole-blinking_{{ machine.identifier }}">
                            <i class="fas fa-lightbulb blinking-icon"></i>
                        </div>
                        <div class="finished-icon-container moving-symbol" id="special-symbole-finished_{{ machine.identifier }}">
                            <i class="fas fa-thumbs-up finished-icon"></i>
                        </div>
                        <div class="available-icon-container moving-symbol" id="special-symbole-available_{{ machine.identifier }}">
                            <i class="fas fa-check-circle available-icon"></i>
                        </div>
                    </div>

                    <!-- machine header -->
                    <div class="machine-header">
                        {{ machine.name }} ({{ machine.type }})
                        <span class="badge {{ machine.status }}" id="machine-status_{{ machine.identifier }}">{{ machine.status }}</span>
                    </div>

                    <!-- machine body -->
                    <div class="machine-body">
                        <div id="machine-time_{{ machine.identifier }}" class="machine-time">{{ machine.time }}</div>
                    </div>

                    <!-- machine footer -->
                    <div class="machine-footer">
                        <!-- middleware button to open modal -->
                        <button class="machine-btn" id="machine-btn_{{ machine.identifier }}"
                                data-machine-identifier="{{ machine.identifier }}"
                                data-machine-type="{{ machine.type }}"
                                data-machine-status="{{ machine.status }}">
                            loading…
                        </button>
                        <button class="machine-btn" id="machine-btn-hidden_{{ machine.identifier }}" style="display: none"
                                data-bs-target="#machine-modal"
                                data-bs-toggle="modal"
                                data-machine-identifier="{{ machine.identifier }}"
                                data-machine-name="{{ machine.name }}"
                                data-machine-type="{{ machine.type }}"
                                data-machine-status="{{ machine.status }}"
                                data-machine-note="{{ machine.notes }}"
                                data-machine-time="{{ machine.time }}">
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Timer Modal -->
    {% include 'includes/timer-modal.html' %}

    <!-- Data Donation Modal -->
    {% include 'includes/donation-modal.html' %}
{% endblock %}
