{%  extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
    <!-- timer css -->
    <link href="{% static 'css/timer.css' %}" as="style" rel="stylesheet" onload="this.rel='stylesheet'">
    <link href="{% static 'css/notify.css' %}" as="style" rel="stylesheet" onload="this.rel='stylesheet'">

    <!-- needed for linking the static background image -->
    <style>
        body::before {
            background-image: url('{% static 'media/bg-index-2.webp' %}');
        }
    </style>
{% endblock %}

{% block js %}
    <!-- timer js -->
    <script src="{% static 'js/timer.js' %}"></script>
    <script src="{% static 'js/notify.js' %}"></script>
{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}
    <!-- Info Note -->
    <div class="alert text-center py-0 mx-2 disclaimer-note">
        <i class="fas fa-exclamation-triangle"></i> Please note: The actual status of the washing machines may vary from the information provided, as it is based on user inputs.
    </div>

    {% include 'includes/notify.html' %}

    <!-- hidden inputs for machine status -->
    <input type="hidden" id="csrfToken" value="{{ csrf_token }}">
    <input type="hidden" id="building-identifier" value="{{ building_identifier }}">

    <!-- machine card template -->
    <div class="container my-3">
        <div class="row">
            {% for machine in machines %}
                <div id="machine_{{ machine.identifier }}" class="col-md-2 machine-card">
                    <div class="machine-header">
                        {{ machine.name }} ({{ machine.type }})
                        <span class="badge {{ machine.status }}" id="machine-status_{{ machine.identifier }}">{{ machine.status }}</span>
                    </div>
                    <div class="machine-body">
                        <div id="machine-time_{{ machine.identifier }}" class="machine-time">{{ machine.time }}</div>
                    </div>
                    <div class="machine-footer">
                        <!-- middleware button to open modal -->
                        <button class="machine-btn" id="machine-btn_{{ machine.identifier }}"
                                data-machine-identifier="{{ machine.identifier }}"
                                data-machine-type="{{ machine.type }}"
                                data-machine-status="{{ machine.status }}">
                            start {{ machine.type|lower }}
                        </button>
                        <button class="machine-btn" id="machine-btn-hidden_{{ machine.identifier }}" style="display: none"
                                data-bs-target="#machine-modal"
                                data-bs-toggle="modal"
                                data-machine-identifier="{{ machine.identifier }}"
                                data-machine-name="{{ machine.name }}"
                                data-machine-type="{{ machine.type }}"
                                data-machine-status="{{ machine.status }}"
                                data-machine-note="{{ machine.notes }}"
                                data-machine-time="{{ machine.time }}">
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Timer Modal -->
    {% include 'includes/timer-modal.html' %}

    <!-- Data Donation Modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#data-donation-modal" style="display: none" id="data-donation-btn">
        Data Donation
    </button>
    <div class="modal fade" id="data-donation-modal" tabindex="-1" aria-labelledby="data-donation-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="data-donation-modal-label">Data Donation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Please mark the following machine to help keep things up to date.</p>
                    <div id="data-donation-machine"></div>
                </div>
                <div class="modal-footer">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Select Status
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="statusDropdownMenu">
                            <li><button class="dropdown-item Running" id="data-donation-running">Running</button></li>
                            <li><button class="dropdown-item Available" id="data-donation-available">Available</button></li>
                            <li><button class="dropdown-item Finished" id="data-donation-finished">Finished</button></li>
                            <li><button class="dropdown-item Defect" id="data-donation-defect">Defect</button></li>
                            <li><button class="dropdown-item Blinking" id="data-donation-blinking">Blinking</button></li>
                        </ul>
                    </div>

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="data-donation-close">Unchanged</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
