.box-404 {
    color: #20524F;
    background-color: rgba(244, 162, 97, 0.85);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.warning-message {
    background-color: #20524F;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 0.9em;
    color: #F4A261;
}

/* home button */
.home-button {
    background-color: #20524F; /* Hauptfarbe */
    color: #F4A261;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-button i {
    margin-right: 8px;
}

.home-button:hover {
    background-color: #F4A261; /* Hover-Farbe */
    transform: scale(1.05);
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.4);
    color: #20524F;
}
