{% extends "admin/base_site.html" %}

{% block title %}Administration panel{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">LaundryTracker administration</a></h1>
    <div class="vertical-separator"></div>
    <h1 id="site-name"><a href="{% url 'admin:analytics' %}" class="button-link">Analytics</a></h1>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<style>
    .vertical-separator {
        border-left: 3px solid #000; /* Black line */
        height: 100%; /* Full height of the container */
        margin: 0 10px; /* Margin around the separator */
        display: inline-block; /* Align with h1 elements */
    }
</style>
{% endblock %}