<!-- templates/includes/footer.html -->
<footer class="bg-dark text-white text-center">
    <p class="my-1">&copy; {{ year }} <a href="https://github.com/Friedjof/LaundryTracker" target="_blank" class="text-white">Laundry Tracker</a> <span class="badge bg-warning" style="color: black">{{ VERSION }}</span></p>
    <p class="mb-0">Please report any issues <a href="https://github.com/Friedjof/LaundryTracker/issues" class="text-white" target="_blank">here</a> or <a href="mailto:programming@noweck.info" class="text-white">contact me</a></p>
</footer>