{% load static %}

<header>
    <div class="row align-items-center text-white p-1 mx-2 laundry-header">
        <div class="col-auto m-0 p-1">
            <a href="/">
                <img src="{% static 'media/favicon.webp' %}" class="header-image" alt="Icon">
            </a>
        </div>
        <div class="col text-start m-0 px-2">
            <h1 class="mb-1">{{ title }}</h1>
            <p class="lead mb-0">{{ description }}</p>
        </div>
    </div>
</header>

<!-- Building description -->
{% if building_description != '' %}
    <button type="button" class="description mx-2 my-0" data-bs-toggle="modal" data-bs-target="#building-modal" title="More information about the building">
      <i class="fas fa-info-circle"></i>&nbsp;Building Description
    </button>

    <!-- Modal -->
    <div class="modal fade" id="building-modal" tabindex="-1" aria-labelledby="building-modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content custom-modal">
          <div class="modal-header custom-modal-header">
            <h5 class="modal-title" id="building-modal-label">{{ building }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body custom-modal-body">
            <p class="no-other-styles">
                {{ building_description|safe }}
            </p>
          </div>
          <div class="modal-footer custom-modal-footer">
            <button type="button" class="btn modal-close-btn" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endif %}