{% load static %}

<header>
    <div class="row align-items-center bg-dark text-white p-1 mx-2">
        <div class="col-auto m-0 p-1">
            <img src="{% static 'media/favicon.webp' %}" class="header-image" alt="Icon">
        </div>
        <div class="col text-start m-0 px-2">
            <h1 class="mb-1">{{ title }}</h1>
            <p class="lead mb-0">{{ description }}</p>
        </div>
    </div>
</header>

<!-- Building description -->
{% if building_description != '' %}
    <button type="button" class="description mx-2 my-0" data-bs-toggle="modal" data-bs-target="#exampleModal" title="More information about the building">
      <i class="fas fa-info-circle"></i>&nbsp;Building Description
    </button>
{% endif %}
