{% load static %}

<header>
    <div class="row align-items-center text-white p-1 mx-2 laundry-header" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
        <div class="col-auto m-0 p-1">
            <a href="/">
                <img src="{% static 'media/favicon.webp' %}" class="header-image" alt="Icon">
            </a>
        </div>
        <div class="col text-start m-0 px-2">
            <h1 class="mb-1">Laundry Tracker</h1>
            <p class="lead mb-0">Keep track of your laundry machines easily</p>
        </div>
    </div>
</header>
