<!-- templates/includes/footer.html -->
<footer class="bg-dark text-white text-center">
    <p class="my-1"><span class="badge bg-warning">Beta</span> &copy; {{ year }} Laundry Tracker</p>
    <p class="mb-1">Developed by <a href="https://github.com/Friedjof" class="text-white" target="_blank">Friedjof</a></p>
    <p class="mb-0">Please report any issues <a href="https://github.com/Friedjof/LaundryTracker/issues" class="text-white" target="_blank">here</a> or <a href="mailto:programming.noweck.info" class="text-white" target="_blank">contact me</a></p>
</footer>